<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div class="container">

    <div class="row">
        <h3>Login with Username and password</h3>
        <p th:if="${param.error}"> Bad Credentials
        </p>
    </div>
    <div class="row">
        <form action="#" th:action="@{/app/login}" th:object="${user}" method="post" class="form-horizontal"
              style="width: 100%">
            <div class="form-group">
                <div class="col-sm-10">
                    Username: <input type="text" name="username" id="username" class="form-control input-lg"
                                     placeholder="Username" required="true" autofocus="true"/>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-sm-10">
                    Password: <input type="password" name="password" id="password" class="form-control input-lg"
                                     placeholder="Password" required="true "/>

                </div>
            </div>
            <br/><br/>

            <div class="form-group">
                <div class="col-sm-12">
                    <input class="btn btn-primary btn-sm" type="submit" value="Login">
                </div>
            </div>

        </form>

    </div>

</div>

</body>
</html>